@import "./reset.css";

#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
}

.content-title {
  font-weight: 600;
}

.brand {
  display: flex;
  font-weight: 900;
  text-decoration-line: none;
}

.brand-name {
  padding-left: 0.5rem;
}

input {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #dddfeb;
  border-radius: 0.3rem;
  transition: 0.2s;
}

input:focus {
  outline: none !important;
  border-color: var(--primary);
}
